    @font-face {
        font-family: 'Averta';
        src: url('../fonts/Averta.woff2') format('woff2'),
            url('../fonts/Averta.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Averta', sans-serif;
        width: 100%;
        overflow-x: hidden;
    }

    .sensor-wrapper {
        background-color: #31a05f;
        color: #fff;
        padding-bottom: 425px;
    }

    .content-wrapper {
        max-width: 500px;
        margin: 0 auto;
        padding: 50px;
    }

    .project-description-wrapper {
        margin-top: -50px;
        border-radius: 50px 50px 0 0;
        background-color: #28272f;
        color: #fff;
        padding-bottom: 75px;
    }

    .project-members-wrapper {
        border-radius: 50px 50px 0 0;
        margin-top: -50px;
        background-color: #fff;
    }

    .plant-wrapper {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 150px;
    }

    .plant-image {
        max-width: 500px;
        position: absolute;
        top: 0;
        left: -375px;
    }

    .plant-info {
        margin-left: 200px;
    }

    .plant-image>img {
        width: 100%;
        height: 100%;
    }

    .project-member {
        background-color: #28272f;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        max-width: 120px;
        color: #e4e4e4;
        display: inline-block;
        margin: 10px;
    }
	.user-feedback {
		padding: 10px 30px;
		border-radius: 30px;
		background-color: #fff;
		color: #2e5d41;
		display: none;
	}
	.latest-update {
		border: 1px solid white;
		padding: 10px;
		border-radius: 25px;
		text-align: center;
	}
	.low-temp-message.user-feedback, .low-moisture-message.user-feedback {
		color: #af2a2a;
	}
    .project-members-row {
        display: flex;
        flex-direction: row;
    }

    .member-image {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 auto;
    }

    .member-image>img {
        width: 100%;
    }

    .member-name {
        font-weight: bold;
        padding: 10px 0;
    }

    .member-contact>a {
        color: #fff;
    }

    .load-data.button {
        padding: 10px;
        background-color: #fff;
        color: #31a05f;
        text-align: center;
        margin: 20px 0;
        border-radius: 25px;
        cursor: pointer;
        transition: .25s ease all;
    }
	.load-data.button>img {
		width: 25px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}
	
    .load-data.button:hover {
        padding: 10px;
        color: #fff;
        background-color: #28272f;
    }

    footer {
        background-color: #f1f1f1;
        color: #424348;
    }

    footer>div {
        margin: 0 auto;
        max-width: 500px;
        padding: 50px 0;
    }
	#device-id-label {
		font-size: 15px;
		border: 1px solid white;
		border-radius: 4px;
		padding: 4px 10px;
	}

    @media only screen and (max-width: 720px) {
        .content-wrapper {
            max-width: calc(100% - 20px);
            margin: 0 auto;
            padding: 50px 20px;
        }

        .project-members-row {
            display: flex;
            overflow-x: scroll;
        }

        .plant-image {
            max-width: 500px;
            position: absolute;
            top: 0;
            left: -300px;
        }

        .plant-info {
            margin-left: 25px;
            margin-top: 50px;
            z-index: 1;
        }

        footer>div {
            margin: 0 auto;
            max-width: 500px;
            padding: 50px;
        }
    }